@page "/Profiles"
@using System.Text
@using ClashCs.Config
@using ClashCs.Entity
@using ClashCs.Interface
@inject IHttpClientFactory ClientFactory
@inject ISnackbar Snackbar
@inject IClashService ClashService

<PageTitle>Profiles</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium">

    <div class="d-flex flex-row align-center gap-x-6">
        <MudTextField Class="flex-grow-2" T="string" @bind-Text="SubscriptionLink" Label="Subscription Link" Variant="Variant.Outlined"></MudTextField>
        <MudButton Class="flex-grow-1" Disabled="@_processing" Variant="Variant.Filled" Style="height: 52px" OnClick="@GetClashConfigAsync">
            @if (_processing)
            {
                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                <MudText Class="ms-2">Processing</MudText>
            }
            else
            {
                <MudText>Download</MudText>
            }
        </MudButton>
        <MudButton Class="flex-grow-1" Variant="Variant.Filled" Style="height: 52px">Update All</MudButton>

        @foreach (var config in Configs())
        {
            
            <MudCard>
                <MudCardContent>
                    <MudText>@config.SubscriptionName</MudText>
                    <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>  
        }
    </div>


</MudContainer>

@code {
    public string? SubscriptionLink { get; set; }
    private bool _processing;

    private List<LocalProxyConfig> Configs()
    {
        return ClashService.LocalProxyConfigs();
    }

    protected async Task GetClashConfigAsync()
    {
        if (!string.IsNullOrEmpty(SubscriptionLink))
        {
            _processing = true;
            var client = ClientFactory.CreateClient();
            client.DefaultRequestHeaders.UserAgent.ParseAdd(Util.UA);
            var uri = new Uri(SubscriptionLink.Replace('\t', ' ').Trim());
            var response = await client.GetAsync(uri);
            response.EnsureSuccessStatusCode();
            var filename = response.Content.Headers.ContentDisposition.FileName;
            var subInfoExists = response.Headers.TryGetValues("Subscription-Userinfo", out var subInfo);
            var updateIntervalExists = response.Headers.TryGetValues("Profile-Update-Interval", out var updateInterval);
            var urlExists = response.Headers.TryGetValues("profile-web-page-url", out var url);

            var yaml = await response.Content.ReadAsStringAsync();

            var profileInfo = Util.Deserializer<Config>(yaml);
            var timestamp = DateTimeOffset.UtcNow.ToUnixTimeSeconds();
            var stringBuilder = new StringBuilder(13);
            stringBuilder.Append(timestamp).Append(".yaml");
            var path = Path.Combine(Directory.GetCurrentDirectory(), ".config", "Profiles");
            if (!Directory.Exists(path))
            {
                Directory.CreateDirectory(path);
            }

            var localConfig = await Util.ReadConfigAsync();
            if (localConfig != null)
            {
                var localProxyConfig = new LocalProxyConfig
                {
                    FileName = stringBuilder.ToString(),
                    SubscriptionName = filename,
                    SubInfo = subInfoExists ? Util.Deserializer<SubInfo>(subInfo.ToList()?[0]) : null,
                    Url = SubscriptionLink,
                    HomeLink = urlExists ? url?.ToList()?[0] : null,
                };
                localProxyConfig.SetUpdateInterval(updateIntervalExists ? updateInterval.ToList()?[0] : "24");
                localConfig.LocalProxyConfigs.Add(localProxyConfig);

                await Util.WriteConfigAsync(localConfig);
            }

            GlobalConfig.ProxyConfig.Configs.Add(profileInfo);

            await File.WriteAllTextAsync(Path.Combine(path, stringBuilder.ToString()), yaml, Encoding.UTF8);

            _processing = false;

            Snackbar.Configuration.PositionClass = "Defaults.Classes.Position.TopStart";
            Snackbar.Add("下载完成");
        }
        else
        {
            Snackbar.Configuration.PositionClass = "Defaults.Classes.Position.TopStart";
            Snackbar.Add("请输入链接");
        }
    }

}